### Maven Target###
target/

### Antlr ###
src/*.tokens
src/*.interp
src/MiniJavaLexer.java
src/MiniJavaParser.java
src/MiniJavaParserBaseListener.java
src/MiniJavaParserListener.java
src/MiniJavaParserBaseVisitor.java
src/MiniJavaParserVisitor.java



### IntelliJ IDEA ###
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store